* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
}

.navbar {
  display: flex;
  background: #000;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo i {
  color: #fff;
  font-size: 25px;
  margin-top: 5px;
}

.navbar-menu {
  display: flex;
  list-style: none;
}

.navbar-menu li {
  padding: 8px 12px;
}

.navbar-btnToggle {
  display: none;
  color: #d49466;
  font-size: 25px;
  position: absolute;
  right: 20px;
  margin-top: 6px;
}

@media screen and (max-width: 624px) {
  .navbar {
    flex-direction: column;
    padding: 8px 20px;
  }
  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .navbar-menu li {
    width: 100%;
    text-align: center;
  }

  .navbar-btnToggle {
    display: block;
  }

  .navbar-menu.active {
    display: flex;
  }
}
